<%- include("header.ejs"); %>


<div class="about_tifan">
<section class="about_page_section">
    <h3>About SAE TIFAN</h3>
    <br>
    <p align="justify">TIFAN stands for “Technology Innovation Forum for Agricultural Nurturing”.</p>
    <p align="justify">SAE (Society of Automotive Engineers) is an international organization. 
        It’s operations in India, SAEINDIA (www.saeindia.org) was started in 1994. 
        In 2010, Off-Highway board was established, which caters to the aspect of mobility 
        engineering related to all vehicles / equipment operated in rough terrain, mining, 
        farm and non-track e.g. agriculture, construction and defense. Since its inauguration, 
        board has been instrumental in focusing on the common issues related to Technologies of 
        tomorrow and talent pool and has organized several national level events like –
    </p>

    <ul>
        <li align="justify">“FINE2010” – 2 weeks of induction program in Off-Highway companies for the 
            faculties of engineering colleges.</li>
        <li align="justify">“EDU Meet 2013” to aspire women engineers for Off-Highway industry</li>   
        <li align="justify">“SINE2013 & 2015” – 2 weeks of induction program in Off-Highway companies for the women engineering students.</li> 
        <li align="justify">“Futuristic Technologies and Orbit shifting Business Strategies for Indian Off-Highway industry”</li>
        <li align="justify">SAEINDIA Off-highway board is glad to inform you with the start of our first ever 
            student’s competition program named ‘TIFAN’.</li>
    </ul>

    <p align="justify">Off-highway board is very happy to initiate this competition targeted to solve the farming challenges 
        using mechanized solutions. It provides platform for connecting the bright and prosperous engineering 
        talent available in the country with the real life challenges of agriculture sector. 
        Through this program students from engineering and agricultural colleges across India will participate 
        in providing innovative solution towards product design & development challenge.</p>

</section>

<section class="about_page_section">
    <h3>About AAYUDH 2.0</h3>
    <p align="justify">We are “Team AAYUDH 2.0”, a group of engineering students having knowledge of technical things 
        also well-known to agricultural challenges faced by farmers while doing agriculture. We are 
        trying to become excellent in agricultural machinery using modern solutions. Also, we 
        challenge the conventional method of farming & bringing advancement to the agricultural industry.
    </p>

    <p align="justify">With our team's vision & mission, we team Aayudh 2.0 put out a step in agricultural advancement 
        by manufacturing successfully an onion harvester. The main motto behind this is producing the 
        best techniques/machinery which is very economical for farmers to adopt.
    </p>
</section>


<section class="about_page_section">
    <h3>Faculty Adviser</h3>

    <div class="faculty-adviser row">
        <div class="card-column col-lg-6">
            <div class="card">
                <div class="card-body">
                    <img class="faculty-img" src="Images/datar.jpg" alt="gajanan_datar">
                    <h6>Prof. Gajanan Datar</h6>
                    <p>gajanan.datar@gmail.com</p>
                </div>
            </div>
        </div>
    
    <div class="card-column col-lg-6">
        <div class="card">
            <div class="card-body">
                <img class="faculty-img" src="Images/patil.jpg" alt="bhagtsingh_patil">
                <h6>Prof. Bhagtsingh Patil</h6>
                <p>bapatilawasari@yahoo.com</p>
            </div>
        </div>
    </div>

</div>


</section>

<section class="balaji-message about_page_section">
    <h3>CEO Message</h3>
    <div class="row">
        <div class="faculty-adviser card-column col-lg-5">
            <img faculty-img src="Images/team members/balaji mohite.png" alt="Balaji Mohite">
            <br>
            <br>
            <h4>Balaji Mohite</h6>
            <p>TE Mechanical</p>
        </div>

        <div class="balaji-text-message card-column col-lg-7" >
            <p align="justify"> <b>Towards Agriculture with Passionate Engineering…!</b> </p>
            <p align="justify">We are team Aayudh 2.0, starting our team for bringing excellence 
                to the agricultural industry using modern mechanized solutions. 
                Our motto is to launch products with the properties such as 
                adaptability, availability, and scalability. We made a Self-Propelled 
                Onion Harvester called “Shaurya” in 2021-22 and now we are designing 
                an Automatic Multi-Vegetable Transplanter this year.</p>

                <p align="justify">I invite you to join us on this beautiful journey on behalf of my <a href="/team">team</a>...!</p>
        </div>
    </div>
</section>


<section class="about_page_section" >
    <h3>Contact Us</h3>
    <%-include("contact_form.ejs")%>
</section>

</div>
<%- include("footer.ejs"); %>