    

    <footer id="footer">

        <p class="text"><a class="text" href="https://www.gcoeara.ac.in/">GCOEARA, Pune</a>  |  
          <a class="text" href="https://saeindia.org/tifan/">SAE TIFAN</a>  |   
          <a class="text" href="https://saeindia.org/">SAE INDIA</a>
        </p>
        <br>

        <a href="https://www.linkedin.com/company/aayudh-2-0/" class="footer-image fa-brands fa-linkedin fa-lg"></a>
        <a href="https://www.instagram.com/team_aayudh2.0/" class="footer-image fa-brands fa-instagram fa-lg"></a>
        <a href="https://www.youtube.com/channel/UC32Eek6fJeuh-fH9kIySImg" class="footer-image fa-brands fa-youtube fa-lg"></a>
        <a href="mailto:tifan2022aayudh2.0@gmail.com" class="footer-image fa-solid fa-envelope fa-lg"></a>

        <p class="text">© Copyright Team AAYUDH 2.0</p>

    </footer>
    
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>