<%- include('header.ejs')%>
<link rel="stylesheet" href="css/support.css" />

<div class="support-page">
  <div class="row benefits">
    <div class="col-md-6 col-md-6 sponsor-us-page-block"><h1>SPONSOR US..</h1></div>
    <div class="col-md-6 col-md-6 sponsor-us-page-block">
        <h3><b>Benefits</b></h3>
        <ul>
            <li>Increase your return on investment</li>
            <li>Reach to our market through us</li>
            <li>Gain valuable insights</li>
            <li>Reach sale Goles</li>
        </ul>
    </div>
  </div>
  <div class="row benefits">
    <div class="col-md-6 col-md-6 sponsor-us-page-block">
        <h3><b>How?</b></h3>
        <ul>
            <li>Assist Financially</li>
            <li>Sponsor Equipment</li>
            <li>Sponsor Jersey</li>
            <li>Sponsor Food & Travel</li>
        </ul>
    </div>
    <div class="col-md-6 col-md-6 sponsor-us-page-block">
        <h3><b>Team Aayudh 2.0</b></h3>
        <p>Department of Mechanical Engineering</p>
        <p>Govrnment College of Engineering and Research, Avasari Khurd</p>
    </div>
  </div>

  <div class="benefits" style="padding:5%; padding-top:2%;">
    <p style="margin: 0;">For any query related to sponsorship contact us on:</p>
      <%-include("contact_form.ejs")%>
  </div>
</div>

<!-- <div>
  <p>For any query related to sponsorship contact us on:</p>
    <%-include("contact_form.ejs")%>
</div> -->
<%- include('footer.ejs')%>

